@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');

$color-primary: #003366;
$color-heading-text: #ffffee;
$font-size-base: 16px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}


header {
  background-color: $color-primary;
  h3 {
    color: $color-heading-text;
    font-size: $font-size-base * 2;

  }
}

.beer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  padding: 2%;

  .beer {
    text-align: center;
    font-size: $font-size-base;
    color: $color-primary;
    border: 1px solid $color-primary;
    width: 80%;

      &:hover {
        cursor: pointer;
        background-color: $color-primary;
        color: $color-heading-text;
      }
  }
}


.details {
  display: none;
  transition: transform 0.5s ease-in-ou;
  padding: 5%;
  height: auto;
}


.cta-grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  .cta-grid-item {
    width: 21%;
    border: 1px solid $color-primary;
    padding: 1%;
    margin: 1%;

    h1, h3 {
      color: $color-primary;
    }

    @media screen and(max-width: 1200px) {
      width: 29%;
      margin-top: 2%;
    }

    @media screen and(max-width: 1000px) {
      width: 46%;
      margin-top: 3%;
    }

    @media screen and(max-width: 768px) {
      width: 96%;
      margin-top: 5%;
    }
  }
}